In [3]:
from query_representation.query import *

qfn = "../ceb-imdb-full/1a/1a1.pkl"
qrep = load_qrep(qfn)

# extract basic properties of the query representation format

print("""Query has {} tables, {} joins, {} subplans.""".format(
    len(qrep["join_graph"].nodes()), len(qrep["join_graph"].edges()),
    len(qrep["subset_graph"].nodes())))

tables, aliases = get_tables(qrep)

print("Tables: ")
for i,table in enumerate(tables):
    print(table, aliases[i])

print("Joins: ")
joins = get_joins(qrep)
for join in joins:
    print(join)
# print(("\n").join(joins))

# preds, pred_cols, pred_types, pred_vals = get_predicates(qrep)
# print("Predicates: ")
# for i in range(len(preds)):
#     for j, pred in enumerate(preds[i]):
#         print(pred.strip(" "))
#         print("     Predicate column: ", pred_cols[i][j])
#         print("       Predicate type: ", pred_types[i][j])
#         print("     Predicate values: ", pred_vals[i][j])

Query has 9 tables, 9 joins, 107 subplans.
Tables:
title t
cast_info ci
movie_info mi1
movie_info mi2
info_type it1
info_type it2
kind_type kt
name n
role_type rt
Joins:
t.id = ci.movie_id
t.id = mi1.movie_id
t.id = mi2.movie_id
t.kind_id = kt.id
ci.person_id = n.id
ci.role_id = rt.id
mi1.movie_id = mi2.movie_id
mi1.info_type_id = it1.id
mi2.info_type_id = it2.id

In [7]:
from query_representation.query import *

qfn = "../ceb-imdb-full/1a/1a1.pkl"
qrep = load_qrep(qfn)

# for getting cardinality estimates of every subplan in the query
ests = get_postgres_cardinalities(qrep)
trues = get_true_cardinalities(qrep)

for k,v in ests.items():
    print("Subplan, joining tables: ", k)
    subsql = subplan_to_sql(qrep, k)
    print("Subplan SQL: ", subsql)
    print("   True cardinality: ", trues[k])
    print("PostgreSQL estimate: ", v)
    print("****************")

Subplan, joining tables:  ('ci', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , title AS t WHERE  1950 < t.production_year AND  t.production_year <= 1970 AND t.id = ci.movie_id
   True cardinality:  2632262
PostgreSQL estimate:  1279393
****************
Subplan, joining tables:  ('mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND t.id = mi1.movie_id
   True cardinality:  42373
PostgreSQL estimate:  22050
****************
Subplan, joining tables:  ('mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND t.id = mi2.movie_id
   True cardinality:  138028
PostgreSQL estimate:  43045
****************
Subplan, joining tables:  ('kt', 't')
Subplan SQL:  SELECT COUNT(*) FROM kind_type AS kt , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  t.production_year <= 1970 AND t.kind_id = kt.id
   True cardinality:  137454
PostgreSQL estimate:  25487
****************
Subplan, joining tables:  ('ci', 'n')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , name AS n WHERE  n.gender IN ('m') AND ci.person_id = n.id
   True cardinality:  17580421
PostgreSQL estimate:  6306522
****************
Subplan, joining tables:  ('ci', 'rt')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , role_type AS rt WHERE  rt.role IN ('actor','miscellaneous crew') AND ci.role_id = rt.id
   True cardinality:  16993706
PostgreSQL estimate:  6033987
****************
Subplan, joining tables:  ('mi1', 'mi2')
Subplan SQL:  SELECT COUNT(*) FROM movie_info AS mi1 , movie_info AS mi2 WHERE  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND mi1.movie_id = mi2.movie_id
   True cardinality:  644674
PostgreSQL estimate:  1601440
****************
Subplan, joining tables:  ('it1', 'mi1')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , movie_info AS mi1 WHERE  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND mi1.info_type_id = it1.id
   True cardinality:  646371
PostgreSQL estimate:  66915
****************
Subplan, joining tables:  ('it2', 'mi2')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it2 , movie_info AS mi2 WHERE  it2.id = '2' AND  mi2.info IN ('Black and White','Color') AND mi2.info_type_id = it2.id
   True cardinality:  1288928
PostgreSQL estimate:  100003
****************
Subplan, joining tables:  ('ci', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND t.id = ci.movie_id AND t.id = mi1.movie_id
   True cardinality:  483164
PostgreSQL estimate:  832226
****************
Subplan, joining tables:  ('ci', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND t.id = ci.movie_id AND t.id = mi2.movie_id
   True cardinality:  2175027
PostgreSQL estimate:  1605659
****************
Subplan, joining tables:  ('ci', 'kt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  t.production_year <= 1970 AND t.id = ci.movie_id AND t.kind_id = kt.id
   True cardinality:  1442618
PostgreSQL estimate:  365541
****************
Subplan, joining tables:  ('ci', 'n', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , name AS n , title AS t WHERE  1950 < t.production_year AND  n.gender IN ('m') AND  t.production_year <= 1970 AND ci.person_id = n.id AND t.id = ci.movie_id
   True cardinality:  1590969
PostgreSQL estimate:  539648
****************
Subplan, joining tables:  ('ci', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.role_id = rt.id AND t.id = ci.movie_id
   True cardinality:  1320043
PostgreSQL estimate:  495575
****************
Subplan, joining tables:  ('mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  38633
PostgreSQL estimate:  131380
****************
Subplan, joining tables:  ('it1', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND t.id = mi1.movie_id
   True cardinality:  42253
PostgreSQL estimate:  5490
****************
Subplan, joining tables:  ('kt', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM kind_type AS kt , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND t.id = mi1.movie_id AND t.kind_id = kt.id
   True cardinality:  2203
PostgreSQL estimate:  6300
****************
Subplan, joining tables:  ('it2', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it2 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it2.id = '2' AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi2.info_type_id = it2.id AND t.id = mi2.movie_id
   True cardinality:  136959
PostgreSQL estimate:  8468
****************
Subplan, joining tables:  ('kt', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM kind_type AS kt , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND t.id = mi2.movie_id AND t.kind_id = kt.id
   True cardinality:  71619
PostgreSQL estimate:  12299
****************
Subplan, joining tables:  ('ci', 'n', 'rt')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , name AS n , role_type AS rt WHERE  n.gender IN ('m') AND  rt.role IN ('actor','miscellaneous crew') AND ci.person_id = n.id AND ci.role_id = rt.id
   True cardinality:  13353058
PostgreSQL estimate:  2522609
****************
Subplan, joining tables:  ('it1', 'mi1', 'mi2')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , movie_info AS mi1 , movie_info AS mi2 WHERE  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND mi1.info_type_id = it1.id AND mi1.movie_id = mi2.movie_id
   True cardinality:  640483
PostgreSQL estimate:  398692
****************
Subplan, joining tables:  ('it2', 'mi1', 'mi2')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it2 , movie_info AS mi1 , movie_info AS mi2 WHERE  it2.id = '2' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND mi1.movie_id = mi2.movie_id AND mi2.info_type_id = it2.id
   True cardinality:  636623
PostgreSQL estimate:  142208
****************
Subplan, joining tables:  ('ci', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  539148
PostgreSQL estimate:  2766993
****************
Subplan, joining tables:  ('ci', 'it1', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , info_type AS it1 , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND t.id = ci.movie_id AND t.id = mi1.movie_id
   True cardinality:  476284
PostgreSQL estimate:  207190
****************
Subplan, joining tables:  ('ci', 'kt', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.kind_id = kt.id
   True cardinality:  21418
PostgreSQL estimate:  237779
****************
Subplan, joining tables:  ('ci', 'mi1', 'n', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , name AS n , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  n.gender IN ('m') AND  t.production_year <= 1970 AND ci.person_id = n.id AND t.id = ci.movie_id AND t.id = mi1.movie_id
   True cardinality:  273889
PostgreSQL estimate:  345374
****************
Subplan, joining tables:  ('ci', 'mi1', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.role_id = rt.id AND t.id = ci.movie_id AND t.id = mi1.movie_id
   True cardinality:  211370
PostgreSQL estimate:  138704
****************
Subplan, joining tables:  ('ci', 'it2', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , info_type AS it2 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it2.id = '2' AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi2.info_type_id = it2.id AND t.id = ci.movie_id AND t.id = mi2.movie_id
   True cardinality:  2123434
PostgreSQL estimate:  131611
****************
Subplan, joining tables:  ('ci', 'kt', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND t.id = ci.movie_id AND t.id = mi2.movie_id AND t.kind_id = kt.id
   True cardinality:  964303
PostgreSQL estimate:  458760
****************
Subplan, joining tables:  ('ci', 'mi2', 'n', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi2 , name AS n , title AS t WHERE  1950 < t.production_year AND  mi2.info IN ('Black and White','Color') AND  n.gender IN ('m') AND  t.production_year <= 1970 AND ci.person_id = n.id AND t.id = ci.movie_id AND t.id = mi2.movie_id
   True cardinality:  1312176
PostgreSQL estimate:  677267
****************
Subplan, joining tables:  ('ci', 'mi2', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi2 , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  mi2.info IN ('Black and White','Color') AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.role_id = rt.id AND t.id = ci.movie_id AND t.id = mi2.movie_id
   True cardinality:  1090303
PostgreSQL estimate:  286058
****************
Subplan, joining tables:  ('ci', 'kt', 'n', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , name AS n , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  n.gender IN ('m') AND  t.production_year <= 1970 AND ci.person_id = n.id AND t.id = ci.movie_id AND t.kind_id = kt.id
   True cardinality:  902199
PostgreSQL estimate:  146902
****************
Subplan, joining tables:  ('ci', 'kt', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.role_id = rt.id AND t.id = ci.movie_id AND t.kind_id = kt.id
   True cardinality:  751227
PostgreSQL estimate:  58997
****************
Subplan, joining tables:  ('ci', 'n', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , name AS n , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  n.gender IN ('m') AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.person_id = n.id AND ci.role_id = rt.id AND t.id = ci.movie_id
   True cardinality:  1253184
PostgreSQL estimate:  85693
****************
Subplan, joining tables:  ('it1', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND mi1.movie_id = mi2.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  38025
PostgreSQL estimate:  32708
****************
Subplan, joining tables:  ('it2', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it2 , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it2.id = '2' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND mi2.info_type_id = it2.id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  37304
PostgreSQL estimate:  28000
****************
Subplan, joining tables:  ('kt', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM kind_type AS kt , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id AND t.kind_id = kt.id
   True cardinality:  1918
PostgreSQL estimate:  37537
****************
Subplan, joining tables:  ('it1', 'kt', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , kind_type AS kt , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND t.id = mi1.movie_id AND t.kind_id = kt.id
   True cardinality:  2202
PostgreSQL estimate:  1569
****************
Subplan, joining tables:  ('it2', 'kt', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it2 , kind_type AS kt , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it2.id = '2' AND  kt.kind IN ('episode','tv movie') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi2.info_type_id = it2.id AND t.id = mi2.movie_id AND t.kind_id = kt.id
   True cardinality:  71610
PostgreSQL estimate:  2419
****************
Subplan, joining tables:  ('it1', 'it2', 'mi1', 'mi2')
Subplan SQL:  SELECT COUNT(*) FROM info_type AS it1 , info_type AS it2 , movie_info AS mi1 , movie_info AS mi2 WHERE  it1.id = '3' AND  it2.id = '2' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND mi1.info_type_id = it1.id AND mi1.movie_id = mi2.movie_id AND mi2.info_type_id = it2.id
   True cardinality:  635498
PostgreSQL estimate:  35404
****************
Subplan, joining tables:  ('ci', 'it1', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , info_type AS it1 , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND mi1.movie_id = mi2.movie_id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  500764
PostgreSQL estimate:  287028
****************
Subplan, joining tables:  ('ci', 'it2', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , info_type AS it2 , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  it2.id = '2' AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND mi2.info_type_id = it2.id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  466000
PostgreSQL estimate:  245708
****************
Subplan, joining tables:  ('ci', 'kt', 'mi1', 'mi2', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , kind_type AS kt , movie_info AS mi1 , movie_info AS mi2 , title AS t WHERE  1950 < t.production_year AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  t.production_year <= 1970 AND mi1.movie_id = mi2.movie_id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id AND t.kind_id = kt.id
   True cardinality:  20230
PostgreSQL estimate:  329404
****************
Subplan, joining tables:  ('ci', 'mi1', 'mi2', 'n', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , movie_info AS mi2 , name AS n , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  n.gender IN ('m') AND  t.production_year <= 1970 AND ci.person_id = n.id AND mi1.movie_id = mi2.movie_id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  316275
PostgreSQL estimate:  1148302
****************
Subplan, joining tables:  ('ci', 'mi1', 'mi2', 'rt', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , movie_info AS mi1 , movie_info AS mi2 , role_type AS rt , title AS t WHERE  1950 < t.production_year AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  mi2.info IN ('Black and White','Color') AND  rt.role IN ('actor','miscellaneous crew') AND  t.production_year <= 1970 AND ci.role_id = rt.id AND mi1.movie_id = mi2.movie_id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.id = mi2.movie_id
   True cardinality:  258107
PostgreSQL estimate:  461166
****************
Subplan, joining tables:  ('ci', 'it1', 'kt', 'mi1', 't')
Subplan SQL:  SELECT COUNT(*) FROM cast_info AS ci , info_type AS it1 , kind_type AS kt , movie_info AS mi1 , title AS t WHERE  1950 < t.production_year AND  it1.id = '3' AND  kt.kind IN ('episode','tv movie') AND  mi1.info IN ('Action','Adventure','Documentary','Romance','Short') AND  t.production_year <= 1970 AND mi1.info_type_id = it1.id AND t.id = ci.movie_id AND t.id = mi1.movie_id AND t.kind_id = kt.id
   True cardinality:  21386
PostgreSQL estimate:  24665
****************
Subplan, joining tables:  ('ci', 'it1', 'mi1', 'n', 't')